.headerjb {
   background: #ffffff;  /* fallback for old browsers */
   /* background: -webkit-linear-gradient(to right, #155799, #159957);   Chrome 10-25, Safari 5.1-6 */
   /* background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   box-shadow: 2px 0 6px rgba(0,21,41,.35);
   z-index:4;
   height: 4rem;
 }
